
<section class="content">
	<div class="row alt" ng-repeat="proj in model.projects" ng-init="tagLists = [ proj.services, 
			proj.skills,  proj.languages, proj.products, proj.systems, proj.teams ]">
	
		<div class="medium-3 columns">
			<p>
				<a ng-href="#/Projects/{{proj.link}}">
					<img class="thumb" ng-src="img/projects/{{proj.id}}/icon.jpg" 
						style="width: 75px;"/>
					<span class="text">
						{{proj.name}}
					</span>
				</a>
			</p>
		
		</div>
		<div class="medium-6 columns">
			<p>{{proj.summary}}</p>
			<p style="color: #555; font-size: 12px; line-height: 14px;">{{proj.desc}}</p>
			<p ng-if="proj.related" style="color: #069;">Related: {{proj.related.length}}</p>
		</div>

		<div class="medium-3 columns" style="text-align: right;">
			<p style="font-size: 10px; line-height: 11px;">
				<span ng-repeat="tagList in tagLists">
					[ <span ng-repeat="tag in tagList" 
							style="color: {{tag.desc ? 
								(tag.desc.split('|').length > 1 ? '#080' : '#ff0') : '#f00'}}">
						{{tag.item.id}} 
					</span>
					]<br/>
				</span>
			</p>
		</div>

	</div>
</section>
