<style>
	table tbody tr td {
		padding: 1px 4px;
	}
	
	div.bar {
		position: relative;
		height: 10px;
		background-size: 10px;
		border: 1px solid #999;
	}
</style>


<section class="content">
	<div class="row">
	
		<div class="large-12 columns">
			<div id="timeline" style="width: 100%; overflow-x: scroll;">
			</div>
		</div>

	</div>
</section>


<section class="content">
	<div class="row">
	
		<div class="large-12 columns">
		
			<table ng-init="predicate = 'overall'; reverse = true;">
				<thead>
					<th style="width: 40px;"></th>
					<th style="width: 20%;">Project</th>
					<th>Track</th>
				</thead>
				<tbody>
					<tr ng-repeat="pt in model.projTimes">
						<td class="imageCol">
							<a ng-href="#/Projects/{{pt.project.link}}">
								<img ng-src="img/projects/{{pt.project.id}}/icon.jpg" 
								     style="width: 24px;"/>
							</a>
						</td>
						<td>
							<a ng-href="#/Projects/{{pt.project.link}}" style="font-size: 12px;">
								{{pt.project.name}}
							</a>
						</td>
						<td>
							<div style="width: 100%;" ng-repeat="span in pt.spans" title="{{span.name}}">
								<div class="bar" ng-style="{'left': span.startRel*100+'%', 
									'background-image': 'url(img/projects/'+pt.project.id+'/icon.jpg)',
									'width': (span.endRel-span.startRel)*100+'%'}">
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

		</div>

	</div>
</section>


<div init-page-after-render page="model.page"></div>
