<div class="row">
	
	<div class="large-12 columns">
		<div class="logo">
			<a href="#/" title="Aesthetic Interactive">
				<span class="text">
					aesthetic
				</span>
				<img src="img/Logo-Large-Dark.png" />
				<span class="text">
					interactive
				</span>
			</a>
		</div>
		<p class="items">
			<a ng-href="#{{item.url}}" ng-repeat="item in menu.items"
			   ng-class="(menu.isActiveLink(item.url) ? 'active' : '')">
				<i ng-class="'fa fa-'+item.icon"></i>
				<span class="text">
					{{item.name}}
				</span>
			</a>
		</p>
	</div>

</div>
