
<div class="intro">
	<section class="content">
		<div class="row">
	
			<div class="large-8 large-push-2 medium-10 medium-push-1 columns">
				<h1>
					<i class="fa fa-chevron-circle-right"></i> Contact
				</h1>
				<p>
					<a href="mailto:Hello@AestheticInteractive.com">Hello@AestheticInteractive.com</a>
					<br/>
					Grand Rapids, Michigan, USA
				</p>
			</div>

		</div>
	</section>
</div>


<section class="content contact">
	<div class="row">

		<div class="medium-6 columns">
			<h2>
				Quote Requests
			</h2>
			<p>
				Thank you for considering Aesthetic Interactive for your next project! Please  
				<a href="mailto:Hello@AestheticInteractive.com">contact Aesthetic Interactive</a> to 
				request a quote! You can jump-start the project's discovery phase by providing the 
				following details...
			</p>
			<div class="box details">
				<p>
					<strong>Overview /</strong>
					the overall purpose, features, and goals of your project.
				</p>
				<p>
					<strong>Timeframe /</strong>
					any key dates, deadlines, or general date ranges.
				</p>
				<p>
					<strong>Involvement /</strong>
					the ways Aesthetic Interactive would participate in the project.
				</p>
			</div>
		</div>
	
		<div class="medium-6 columns">
			<h2>
				Company
			</h2>
			<p>
				Aesthetic Interactive is a software development company from Grand Rapids, Michigan,  
				specializing in highly creative, challenging projects.  Founded in 2007, the company
				has worked with clients and teams from across the globe on a wide variety of projects.
			</p>
			<p>
				In addition to client work, Aesthetic Interactive undertakes in-house software projects 
				to continuously sharpen skills, explore technologies, and create new experiences.
			</p>
			<h2>
				Founder
			</h2>
			<p>
				<a href="http://github.com/zachkinstner" target="_blank">Zach Kinstner</a> is passionate 
				about software, technology, art, graphics, music... and finding ways to bring these 
				interests together. He earned a Computer Science degree in 2007 from Grand Valley State 
				University's Honors College. Zach is incredibly fortunate to share a home with three 
				amazing ladies -- his wife and two daugthers.
			</p>
		</div>

	</div>
</section>
