
<div class="intro">
	<section class="content">
		<div class="row">
	
			<div class="large-8 large-push-2 columns">
				<h1>
					<i class="fa fa-chevron-circle-right"></i> Contact
				</h1>
				<p>
					<em>Aesthetic Interactive</em> has an email address...
				</p>
			</div>

		</div>
	</section>
</div>


<section class="content">
	<div class="row">
	
		<div class="large-12 columns">
		
			<h3>
				Contact
			</h3>
			<p>
				Coming soon.
			</p>

		</div>

	</div>
</section>

<div init-page-after-render page="model.page"></div>
