
<style>
	.box {
		margin: 16px -16px 0 -16px;
		padding: 16px 16px;
	}
	
	.box.details {
		background-color: #333;
		background-color: rgba(255, 255, 255, 0.05);
	}
	
	.box.details strong {
		color: #ddd;
	}
</style>


<div class="intro">
	<section class="content">
		<div class="row">
	
			<div class="large-8 large-push-2 columns">
				<h1>
					<i class="fa fa-chevron-circle-right"></i> Contact
				</h1>
				<p>
					<a href="mailto:Hello@AestheticInteractive.com">Hello@AestheticInteractive.com</a>
					<br/>
					Grand Rapids, MI, USA
				</p>
			</div>

		</div>
	</section>
</div>


<section class="content">
	<div class="row">

		<div class="medium-6 columns">
			<h2>
				Quote Requests
			</h2>
			<p>
				Thank you for considering Aesthetic Interactive for your next project! Please  
				<a href="mailto:Hello@AestheticInteractive.com">contact Aesthetic Interactive</a> to 
				request a quote! You can jump-start the project's discovery phase by providing the 
				following details...
			</p>
			<div class="box details">
				<p>
					<strong>Overview /</strong>
					the overall purpose, features, and goals of your project.
				</p>
				<p>
					<strong>Timeframe /</strong>
					any key dates, deadlines, or general date ranges.
				</p>
				<p>
					<strong>Involvement /</strong>
					the ways you'd like Aesthetic Interactive to participate in the project.
				</p>
			</div>
		</div>
	
		<div class="medium-6 columns">
			<h2>
				Company
			</h2>
			<p>
				Aesthetic Interactive was founded by 
				<a href="http://github.com/zachkinstner">Zach Kinstner</a> and is located in Grand 
				Rapids, Michigan. With beginnings in 2005, Zach officially started the development and 
				design company in 2007 (upon college graduation). 
			</p>
			<p>
				Since then, Aesthetic Interactive has found continued success, working with  
				teams across the globe on a wide variety of projects. In addition to client 
				work, Aesthetic Interactive undertakes in-house projects and experiments as part of its 
				initiative to push boundaries, sharpen skills, and explore new platforms.
			</p>
			<h2>
				Founder
			</h2>
			<p>
				<a href="http://github.com/zachkinstner">Zach Kinstner</a> earned a Computer 
				Science degree from Grand Valley State University's Honors College in 2007. Zach is 
				passionate about integrating art and technology, exploring new concepts, building 
				software, and creating new user experiences. His wife and two daughters are pretty
				awesome, too.
			</p>
		</div>

	</div>
</section>
