<style>
	header {
		display: none;
	}

	section.logo {
		text-align: center;
		padding: 80px 0 40px 0;
	}
	
	section.logo img {
		width: 200px;
		height: 222px;
	}
	
	div.intro {
		padding: 48px 0;
	}

	div.intro p {
		line-height: 0px;
	}
	
	div.intro .side {
		width: 50%;
		color: #ddd;
		color: rgba(255, 255, 255, 0.75);
		font-size: 3.6rem;
		line-height: 36px;
		padding-top: 8px;
		padding-bottom: 10px;
	}
	
	div.intro .left {
		text-align: right;
		border-right: 1px solid #303030;
		border-right: 1px solid rgba(255, 255, 255, 0.1);
		padding-right: 15px;
	}
	
	div.intro .right {
		text-align: left;
		border-left: 1px solid #303030;
		border-left: 1px solid rgba(255, 255, 255, 0.1);
		padding-left: 15px;
	}
	
	div.intro .name {
		color: #683;
		font-size: 2.4rem;
		font-weight: bold;
		margin-top: 8px;
	}
	
	div.intro .name .nextLine {
		font-size: 0;
		line-height: 0;
	}
	
	section.content h2 {
		z-index: 2;
		margin: 10px 0 5px 0;
	}
	
	section.content h2 a {
		color: inherit;
		font-size: inherit;
	}
	
	section.content h2 a i {
		color: #683;
	}
	
	section.content h2 a:hover {
		color: #fff;
	}
	
	section.content h2 a:hover i {
		color: #8fbc4c;
	}
	
	section.content p {
		line-height: 24px;
		z-index: 2;
	}
	
	section.content div.iconBg {
		z-index: 0;
		height: 0;
		text-align: right;
	}
	
	section.content div.iconBg i {
		font-size: 12.0rem;
		color: #202020;
		color: rgba(0, 0, 0, 0.2);
	}
	
	section.content div.iconBg i.fa-tasks {
		margin-top: 7px;
	}
	
	footer {
		margin-top: 80px;
	}
	
	@media only screen and (max-width: 64.0em) { /* < large */
		section.logo {
			padding: 40px 0 40px 0;
		}
	}
	
	@media only screen and (max-width: 900px) {
		section.logo img {
			width: 150px;
			height: 167px;
		}
		
		div.intro .side {
			font-size: 2.8rem;
			line-height: 28px;
		}
		
		div.intro .left {
			padding-right: 10px;
		}
		
		div.intro .right {
			padding-left: 10px;
		}
		
		div.intro .name {
			font-size: 2.0rem;
			line-height: 20px;
		}
	}
	
	@media only screen and (max-width: 40.0em) { /* < medium */
		section.logo {
			padding: 24px 0;
		}
		
		section.logo img {
			width: 100px;
			height: 111px;
		}
		
		div.intro {
			padding: 24px 0 30px 0;
			margin-bottom: 48px;
		}
		
		div.intro .side {
			width: 100%;
			padding: 0;
			margin-bottom: 10px;
			font-size: 2.4rem;
			line-height: 24px;
		}
		
		div.intro .left {
			text-align: center;
			border: 0px solid #000;
			padding: 0;
		}
		
		div.intro .right {
			text-align: center;
			border: 0px solid #000;
			padding: 0;
		}
		
		div.intro .name {
			font-size: 1.6rem;
			line-height: 16px;
			margin-top: 4px;
			text-align: center;
		}
	
		footer {
			margin-top: 80px;
		}
	}
	
	@media only screen and (max-width: 470px) {
		section.logo {
			padding: 40px 0;
		}
		
		section.logo img {
			width: 120px;
			height: 133px;
		}
		
		div.intro {
			padding: 40px 0;
		}
	}
</style>


<section class="logo">
	<img src="img/Logo-Large-Dark.png" />
</section>


<div class="intro">
	<p>
		<span class="side left">
			<span class="show-for-medium-up">
				stunning experiences
			</span>
			<span class="hide-for-medium-up">
				Stunning experiences.
			</span>
			<span class="name show-for-medium-up">
				<span class="nextLine"><br/></span>
				aesthetic
			</span>
		</span>
		<span class="side right">
			<span class="show-for-medium-up">
				exceptional software
			</span>
			<span class="hide-for-medium-up">
				Exceptional software.
			</span>
			<span class="name show-for-medium-up">
				<span class="nextLine"><br/></span>
				interactive
			</span>
		</span>
	</p>
	<div style="clear: both;"></div>
	<div class="horizBar hide-for-medium-up">
	</div>
	<p class="name hide-for-medium-up">
		aesthetic interactive
	</p>
</div>


<section class="content service">
	<div class="row">

		<div class="medium-1 columns show-for-medium">
		</div>
	
		<div class="large-3 medium-5 columns">
			<div class="iconBg">
				<i class="fa fa-flask"></i>
			</div>
			<h2>
				<a href="#/Services"><i class="fa fa-flask"></i> Services</a>
			</h2>
			<p>
				A range of <a href="#/Services">development and design services</a> fuse to create 
				stunning experiences via exceptional software.
			</p>
		</div>
		
		<div class="large-3 medium-5 columns">
			<div class="iconBg">
				<i class="fa fa-cube"></i>
			</div>
			<h2>
				<a href="#/Projects"><i class="fa fa-cube"></i> Projects</a>
			</h2>
			<p>
				A large <a href="#/Projects">portfolio of projects</a> demonstrate proficiency and 
				experience across a spectrum of domains and technologies.
			</p>
		</div>

		<div class="medium-1 columns show-for-medium">
		</div>

		<div class="medium-1 columns show-for-medium" style="clear: both;">
		</div>

		<div class="large-3 medium-5 columns">
			<div class="iconBg">
				<i class="fa fa-tasks"></i>
			</div>
			<h2>
				<a href="#/Tags"><i class="fa fa-tasks"></i> Tags</a>
			</h2>
			<p>
				Dive into specific <a href="#/Tags">service and skill tags</a> to find portfolio
				projects that are most relevant to your next big idea.
			</p>
		</div>

		<div class="large-3 medium-5 columns">
			<div class="iconBg">
				<i class="fa fa-chevron-circle-right"></i>
			</div>
			<h2>
				<a href="#/Contact"><i class="fa fa-chevron-circle-right"></i> Contact</a>
			</h2>
			<p>
				<a href="#/Contact">Get in touch</a> with Aesthetic Interactive to discuss your next
				project.
			</p>
		</div>

		<div class="medium-1 columns show-for-medium">
		</div>

	</div>
</section>
