<section class="banner">
	
	<div class="row home">
	
		<div class="small-6 columns leftSide">
			<h2>
				beautiful experience
			</h2>
			<h3>
				aesthetic
			</h3>
		</div>

		<div class="small-6 columns rightSide">
			<h2>
				exceptional software
			</h2>
			<h3>
				interactive
			</h3>
		</div>
	
		<div class="lineHold">
			<div class="line">
			</div>
		</div>

	</div>

</section>

<section class="content">
	<div class="row home">
	
		<div class="medium-3 columns">
			<h4>
				Title goes here
			</h4>
			<p>
				Text goes here. Text goes here. Text goes here. Text goes here. Text goes here. 
			</p>
		</div>

		<div class="medium-3 columns">
			<h4>
				Title goes here
			</h4>
			<p>
				Text goes here. Text goes here. Text goes here. Text goes here. Text goes here. 
			</p>
		</div>
	
		<div class="medium-3 columns">
			<h4>
				Title goes here
			</h4>
			<p>
				Text goes here. Text goes here. Text goes here. Text goes here. Text goes here. 
			</p>
		</div>
	
		<div class="medium-3 columns">
			<h4>
				Title goes here
			</h4>
			<p>
				Text goes here. Text goes here. Text goes here. Text goes here. Text goes here. 
			</p>
		</div>

	</div>
</section>