
<style>
	h3 {
		color: #777;
		font-size: 12px;
		text-transform: uppercase;
		margin: 0;
	}
	
	p {
		color: #bbb;
		font-size: 14px;
		line-height: 18px;
	}
	
	p + h3 {
		margin-top: 10px;
	}
	
	.thumbHold {
		display: -moz-inline-stack;
		display: inline-block;
		zoom: 1;
		*display: inline;
		width: 100px;
		height: 100px;
		background-color: #222;
		overflow: hidden;
		margin: 4px 8px 4px 0;
		visibility: hidden;
	}
	
	.thumbHold img {
	}
</style>


<div style="padding: 16px;">
	<div style="float: left;">
		<a href="#/" style="width: 42px; height: 46px;" title="Aesthetic Interactive">
			<img src="img/Logo-Small-Dark.png" />
		</a>
	</div>

	<div style="padding-left: 16px; float: left;">
		<div class="tag" style="margin-top:  1px; background-color: #683; color: rgba(255, 255, 255, 0.75);">
			Project
		</div>
		<div style="margin-top: 4px;">
			<p style="color: #fff; font-size: 24px; line-height: 20px; margin: 0;">
				{{model.project.name}}
			</p>
		</div>
	</div>

	<div style="clear: both;">
	</div>
</div>


<div class="row" style="background-color: #3a3a3a; padding-top: 16px; padding-bottom: 16px;">
	
	<div class="large-3 columns">
		<h3>
			Description
		</h3>
		<p>
			{{model.project.desc}}
		</p>
	</div>

	<div class="large-6 columns">
		<h3>
			Gallery
		</h3>
		<div id="gallery" style="font-size: 0;">
			<div id="gallery0" class="thumbHold">
				<img src="img/portfolio/{{model.project.id}}/0.jpg"
					onload="onThumbLoad(0);" onerror="onThumbFail(0);" />
			</div>s
			<div id="gallery1" class="thumbHold">
				<img src="img/portfolio/{{model.project.id}}/1.jpg"
					onload="onThumbLoad(1);" onerror="onThumbFail(1);" />
			</div>
			<div id="gallery2" class="thumbHold">
				<img src="img/portfolio/{{model.project.id}}/2.jpg"
					onload="onThumbLoad(2);" onerror="onThumbFail(2);" />
			</div>
			<div id="gallery3" class="thumbHold">
				<img src="img/portfolio/{{model.project.id}}/3.jpg"
					onload="onThumbLoad(3);" onerror="onThumbFail(3);" />
			</div>
			<div id="gallery4" class="thumbHold">
				<img src="img/portfolio/{{model.project.id}}/4.jpg"
					onload="onThumbLoad(4);" onerror="onThumbFail(4);" />
			</div>
			<div id="gallery5" class="thumbHold">
				<img src="img/portfolio/{{model.project.id}}/5.jpg"
					onload="onThumbLoad(5);" onerror="onThumbFail(5);" />
			</div>
			<div id="gallery6" class="thumbHold">
				<img src="img/portfolio/{{model.project.id}}/6.jpg"
					onload="onThumbLoad(6);"  onerror="onThumbFail(6);" />
			</div>
			<div id="gallery7" class="thumbHold">
				<img src="img/portfolio/{{model.project.id}}/7.jpg"
					onload="onThumbLoad(7);" onerror="onThumbFail(7);" />
			</div>
		</div>
	</div>

	<div class="large-3 columns">
		<h3>
			Client
		</h3>
		<p>
			{{model.project.client}}
		</p>
		<h3>
			Timeline
		</h3>
		<p>
			{{model.project.start}} to {{model.project.end}}<br/>
		</p>
		<h3>
			Link
		</h3>
		<p>
			<a href="{{model.project.url}}">{{model.project.url}}</a>
		</p>
	</div>

</div>


<script>
	/*var buildGallery = function() {
		var gall = $('#gall');
		console.log('{{model.project.id}}');

		for ( var i = 0 ; i < 7 ; ++i ) {
			var hold = $('<div>');
			var img = $('<img>');
			hold.append(img);
			gall.append(hold);
		}
	};*/

	var onThumbLoad = function(id) {
		$('#gallery'+id).css('visibility', 'visible');
	};

	var onThumbFail = function(id) {
		$('#gallery'+id).css('visibility', 'hidden');
	};
</script>

