<div class="row">
	
	<div class="large-12 columns">
		
		<h3>
			Projects
		</h3>

		<div ng-repeat="proj in model.projects" style="float: left; width: 166px; height: 200px;">
			<p style="text-align: center; width: 150px;">
				<a href="#/Projects/{{proj.link}}" style="font-size: 14px; line-height: 16px;">
					<img ng-src="img/projects/{{proj.id}}/icon.jpg" /><br/>
					{{proj.name}}
				</a>
			</p>
		</div>

	</div>

</div>

<div class="row">
	
	<div class="large-12 columns">
		
		<h3>
			Services
		</h3>
		
		<table>
			<tr ng-repeat="serv in model.services" style="width: 100%;">
				<td>{{serv.id}}</td>
				<td><b>{{serv.name}}</b></td>
				<td>{{serv.desc}}</td>
			</tr>
		</table>
		
		<h3>
			Skills
		</h3>
		
		<table>
			<tr ng-repeat="skill in model.skills" style="width: 100%;">
				<td>{{skill.id}}</td>
				<td><b>{{skill.name}}</b></td>
				<td>{{skill.group.name}}</td>
			</tr>
		</table>

	</div>

</div>
