
<div class="intro">
	<section class="content">
		<div class="row">
	
			<div class="large-8 large-push-2 columns">
				<h1>
					<i class="fa fa-cube"></i> Projects
				</h1>
				<p>
					<em>Aesthetic Interactive</em> works on a variety of projects...
				</p>
			</div>

		</div>
	</section>
</div>


<section class="content">
	<div class="row">
	
		<div class="large-12 columns">
		
			<div ng-repeat="proj in model.projects" style="float: left; width: 166px; height: 200px;">
				<p style="text-align: center; width: 150px;">
					<a ng-href="#/Projects/{{proj.link}}" style="font-size: 14px; line-height: 16px;">
						<img ng-src="img/projects/{{proj.id}}/icon.jpg" 
							style="width: 150px; height: 150px;" /><br/>
						{{proj.name}}
					</a>
				</p>
			</div>

		</div>

	</div>
</section>