<style>
	#gallery img {
		margin: 0 1px 1px 0;
	}
	
	section.content  .barBg {
		height: 4px;
		margin-top: 0;
	}
	
	span.year {
		font-size: 28px;
	}
</style>


<div class="intro">
	<section class="content">
		<div class="row">
	
			<div class="large-8 large-push-2 columns">
				<h1>
					<i class="fa fa-cube"></i> | {{model.project.name}}
				</h1>
				<p>
					{{model.project.summary}}
				</p>
			</div>

		</div>
	</section>
</div>


<section class="content">
	<div class="row">
	
		<div class="large-6 columns">
			<h3>
				Description
			</h3>
			<p>
				{{model.project.desc}}
			</p>
		</div>
		
		<!--
			* Two-line "is a" description.
			* Key features bullet list
			* 1/2 sentences for each Service tag
		-->

		<div class="large-3 columns">
			
			<h3 ng-if="model.project.services.length">
				Services
			</h3>
			<div class="tag" ng-style="{'background-color': 'rgba(102, 136, 51, '+tag.weight+')', 
					'color': 'rgba(255, 255, 255, '+(tag.weight*0.5+0.25)+')'}"
					ng-repeat="tag in model.project.services" title="{{tag.desc}}">
				{{tag.item.name}}
			</div>
		
			<h3 ng-if="model.project.skills.length">
				Skills
			</h3>
			<div class="tag" ng-style="{'background-color': 'rgba(102, 136, 51, '+tag.weight+')', 
					'color': 'rgba(255, 255, 255, '+(tag.weight*0.5+0.25)+')'}"
					ng-repeat="tag in model.project.skills" title="{{tag.desc}}">
				{{tag.item.name}}
			</div>
		
			<h3 ng-if="model.project.languages.length">
				Languages
			</h3>
			<div class="tag" ng-style="{'background-color': 'rgba(102, 136, 51, '+tag.weight+')', 
					'color': 'rgba(255, 255, 255, '+(tag.weight*0.5+0.25)+')'}"
					ng-repeat="tag in model.project.languages" title="{{tag.desc}}">
				{{tag.item.name}}
			</div>
		
			<h3 ng-if="model.project.products.length">
				Products
			</h3>
			<div class="tag" ng-style="{'background-color': 'rgba(102, 136, 51, '+tag.weight+')', 
					'color': 'rgba(255, 255, 255, '+(tag.weight*0.5+0.25)+')'}"
					ng-repeat="tag in model.project.products" title="{{tag.desc}}">
				{{tag.item.name}}
			</div>
			
			<h3 ng-if="model.project.systems.length">
				Systems
			</h3>
			<div class="tag" ng-style="{'background-color': 'rgba(102, 136, 51, '+tag.weight+')', 
					'color': 'rgba(255, 255, 255, '+(tag.weight*0.5+0.25)+')'}"
					ng-repeat="tag in model.project.systems" title="{{tag.desc}}">
				{{tag.item.name}}
			</div>
		
			<h3 ng-if="model.project.teams.length">
				Team Types
			</h3>
			<div class="tag" ng-style="{'background-color': 'rgba(102, 136, 51, '+tag.weight+')', 
					'color': 'rgba(255, 255, 255, '+(tag.weight*0.5+0.25)+')'}"
					ng-repeat="tag in model.project.teams" title="{{tag.desc}}">
				{{tag.item.name}}
			</div>
		
		</div>

		<div class="large-3 columns">
			<img ng-src="img/projects/{{model.project.id}}/icon.jpg"
			    style="width: 150px; height: 150px; margin-bottom: 10px;" />
			<p>
				<span class="year" title="{{model.minDate.toDateString()}}">
					{{model.minDate.getFullYear()}}
				</span>
				<span ng-if="model.minDate.getFullYear() != model.maxDate.getFullYear()" class="year">
					to
					<span title="{{model.maxDate.toDateString()}}">
						{{model.maxDate.getFullYear()}}
					</span>
				</span>
			</p>
			<p style="margin-top: 10px;">
				<span style="font-weight: bold;">
					{{model.project.client}}
				</span>
				<br/>
				<span ng-if="model.project.url">
					<a ng-href="http://{{model.project.url}}">{{model.project.url}}</a>
					<br/>
				</span>
				<a ng-if="model.project.github" bg-href="http://github.com/{{model.project.github}}">
					View at GitHub
				</a>
			</p>
		</div>
	</div>
</section>


<section class="content">
	<div class="row">
	
		<div class="large-2 columns">
			<table>
				<thead>
					<th>Services</th>
				</thead>
				<tbody>
					<tr ng-repeat="tag in model.project.services">
						<td style="font-size: 12px;">
							{{tag.item.name}}
							<div class="barBg" title="{{tag.weight.dev}}">
								<div class="barFill" ng-style="{'width': tag.weight*100+'%'}">
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="large-2 columns">
			<table>
				<thead>
					<th>Skills</th>
				</thead>
				<tbody>
					<tr ng-repeat="tag in model.project.skills">
						<td style="font-size: 12px;">
							{{tag.item.name}}
							<div class="barBg" title="{{tag.weight.dev}}">
								<div class="barFill" ng-style="{'width': tag.weight*100+'%'}">
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	
		<div class="large-2 columns">
			<table>
				<thead>
					<th>Languages</th>
				</thead>
				<tbody>
					<tr ng-repeat="tag in model.project.languages">
						<td style="font-size: 12px;">
							{{tag.item.name}}
							<div class="barBg" title="{{tag.weight.dev}}">
								<div class="barFill" ng-style="{'width': tag.weight*100+'%'}">
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	
		<div class="large-2 columns">
			<table>
				<thead>
					<th>Products</th>
				</thead>
				<tbody>
					<tr ng-repeat="tag in model.project.products">
						<td style="font-size: 12px;">
							{{tag.item.name}}
							<div class="barBg" title="{{tag.weight.dev}}">
								<div class="barFill" ng-style="{'width': tag.weight*100+'%'}">
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	
		<div class="large-2 columns">
			<table>
				<thead>
					<th>Systems</th>
				</thead>
				<tbody>
					<tr ng-repeat="tag in model.project.systems">
						<td style="font-size: 12px;">
							{{tag.item.name}}
							<div class="barBg" title="{{tag.weight.dev}}">
								<div class="barFill" ng-style="{'width': tag.weight*100+'%'}">
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	
		<div class="large-2 columns">
			<table>
				<thead>
					<th>Team Types</th>
				</thead>
				<tbody>
					<tr ng-repeat="tag in model.project.teams">
						<td style="font-size: 12px;">
							{{tag.item.name}}
							<div class="barBg" title="{{tag.weight.dev}}">
								<div class="barFill" ng-style="{'width': tag.weight*100+'%'}">
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	
	</div>
</section>

<section class="content">
	<div class="row">
	
		<div class="large-12 columns">
			<div id="gallery" data-count="{{model.project.imageCount}}">
				<img ng-repeat="index in model.project.imageIndexes" 
					ng-src="img/projects/{{model.project.id}}/{{index}}.jpg" 
					data-index="{{index}}" style="display: none;" />
			</div>
		</div>

	</div>
</section>


<section class="content">
	<div class="row">
	
		<div class="large-12 columns">
			<div id="timeline" style="width: 100%; overflow: auto;">
			</div>
		</div>

	</div>
</section>

