
<style>
	h3 {
		color: #777;
		font-size: 12px;
		text-transform: uppercase;
		margin: 0;
	}
	
	p {
		color: #bbb;
		font-size: 14px;
		line-height: 18px;
	}
	
	p + h3 {
		margin-top: 10px;
	}
	
	div + h3 {
		margin-top: 10px;
	}
	
	section.content {
		background-color: #3a3a3a;
		padding: 16px 0;
	}
	
	section.content + section.content {
		margin-top: 8px;
	}
	
	#gallery img {
		margin: 0 1px 1px 0;
	}
</style>

<header style="padding: 16px;">
	<div style="float: left;">
		<a href="#/" style="width: 42px; height: 46px;" title="Aesthetic Interactive">
			<img src="img/Logo-Small-Dark.png" />
		</a>
	</div>

	<div style="padding-left: 16px; float: left;">
		<div class="tag" style="margin-top:  1px; background-color: #683; 
				color: rgba(255, 255, 255, 0.75);">
			Project
		</div>
		<div style="margin-top: 4px;">
			<p style="color: #fff; font-size: 24px; line-height: 20px; margin: 0;">
				{{model.project.name}}
			</p>
		</div>
	</div>

	<div style="clear: both;">
	</div>
</header>

<section class="content">
	<div class="row">
	
		<div class="large-6 columns">
			<h3>
				Description
			</h3>
			<p>
				{{model.project.desc}}
			</p>
		</div>

		<div class="large-3 columns">
			
			<h3>
				Services
			</h3>
			<div class="tag" style="background-color: rgba(102, 136, 51, {{item.weight}}); 
						color: rgba(255, 255, 255, {{item.weight*0.5+0.25}});"
					ng-repeat="item in model.project.services" title="{{item.desc}}">
				{{item.service.name}}
			</div>
			
			<h3>
				Skills
			</h3>
			<div class="tag" style="background-color: rgba(102, 136, 51, {{item.weight}}); 
						color: rgba(255, 255, 255, {{item.weight*0.5+0.25}});"
					ng-repeat="item in model.project.skills"
					title="[{{item.skill.group.name}}] {{item.desc}}">
				{{item.skill.name}}
			</div>
		
		</div>

		<div class="large-3 columns">
			<h3>
				Client
			</h3>
			<p>
				{{model.project.client}}
			</p>
			<h3>
				Timeline
			</h3>
			<p>
				{{model.project.start}} to {{model.project.end}}<br/>
			</p>
			<h3>
				Link
			</h3>
			<p>
				<a href="http://{{model.project.url}}">{{model.project.url}}</a>
			</p>
		</div>
	</div>
</section>

<section class="content">
	<div class="row">
	
		<div class="large-12 columns">
			<div id="gallery" data-count="{{model.project.imageCount}}">
				<img ng-repeat="index in model.project.imageIndexes" 
					ng-src="img/projects/{{model.project.id}}/{{index}}.jpg" 
					data-index="{{index}}" style="display: none;" />
			</div>
		</div>

	</div>
</section>

<div init-page-after-render page="model.page"></div>