
<style>
	section.service td p, section.service td a {
		line-height: 24px;
	}
	
	table {
		display: none;
	}
	
	table tbody tr:nth-child(odd) {
		background-color: transparent;
	}
	
	table tbody tr td {
		padding: 5px 0 5px 10px;
	}
	
	td.fill {
		width: 50px;
		padding: 0;
		border-right: 3px solid #1c1c1c;
		
		color: #666;
		text-align: center;
		font-size: 75px;
		overflow: hidden;
	}
	
	td.fill .fa-lightbulb-o {
		margin-left: 10px;
	}

	@media only screen and (max-width: 40.0em) { /* < medium */

		td.fill {
			width: 45px;
			padding-left: 5px;
			font-size: 65px;
		}
	
	}
</style>


<div class="intro">
	<section class="content">
		<div class="row">
			<div class="large-12 columns">
				<h1>
					<i class="fa fa-flask"></i> Services
				</h1>
			</div>
		</div>
				
		<div class="row">
			<div class="large-8 large-push-2 columns">
				<p>
					<em>Aesthetic Interactive</em> brings together a <em>complete range</em> of services
					to create <em>stunning experiences</em> via <em>exceptional software</em>. 
					<a href="" ng-click="model.scrollToAnchor('dev')">Development</a> and 
					<a href="" ng-click="model.scrollToAnchor('des')">design</a> are <em>synchronized</em>, 
					<a href="" ng-click="model.scrollToAnchor('cre')">creativity</a> <em>flows</em>,
					<a href="" ng-click="model.scrollToAnchor('com')">communication</a> is 
					<em>constant</em>, and <a href="" ng-click="model.scrollToAnchor('mgt')">management</a> 
					keeps everything <em>on track</em>.
				</p>
			</div>
		</div>
	</section>
</div>


<section class="content service" ng-repeat="services in model.splitServices">
	<div class="row">
		
		<div ng-repeat="service in services" class="medium-6 columns">
			<a name="{{service.id}}"></a>

			<table>
				<tbody>
					<tr>
						<td class="fill">
							<i ng-class="'fa fa-'+service.icon"></i>
						</td>
						<td>
							<h2>
								{{service.name}}
							</h2>
							<p>
								{{service.desc}}
								<br/>
								<a ng-href="#/Tags/Services/{{service.link}}">
									Top '{{service.name}}' Projects
								</a>
							</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
	</div>
</section>


<div init-page-after-render page="model.page"></div>
