
<div class="intro">
	<section class="content">
		<div class="row">
			<div class="large-12 columns">
				<h1>
					<i class="fa fa-flask"></i> Services
				</h1>
			</div>
		</div>
		
		<div class="row">
			<div class="large-8 large-push-2 medium-10 medium-push-1 columns">
				<p>
					Aesthetic Interactive brings together a <em>complete range of services</em>
					to create <em>stunning experiences</em> via <em>exceptional software</em>. 
					<a ng-mouseover="model.hover = 'dev'" ng-mouseout="model.hover = null"
						href="" scroll-to target-id="'dev'">Development</a> and 
					<a ng-mouseover="model.hover = 'des'" ng-mouseout="model.hover = null"
						href="" scroll-to target-id="'des'">design</a> are <em>synchronized</em>, 
					<a ng-mouseover="model.hover = 'cre'" ng-mouseout="model.hover = null"
						href="" scroll-to target-id="'cre'">creativity</a> <em>flows</em>,
					<a ng-mouseover="model.hover = 'com'" ng-mouseout="model.hover = null"
						href="" scroll-to target-id="'com'">communication</a> is <em>constant</em>, and 
					<a ng-mouseover="model.hover = 'mgt'" ng-mouseout="model.hover = null"
						href="" scroll-to target-id="'mgt'">management</a> keeps everything <em>on track</em>.
				</p>
			</div>
		</div>
	</section>
</div>


<section class="content">
	<div ng-repeat="services in model.splitServices">
		<div class="row">
		
			<div ng-repeat="service in services" class="medium-6 columns">
				<table class="service fadeable" id="{{service.id}}" 
						ng-mouseover="model.hover = service.id" ng-mouseout="model.hover = null"
						ng-class="(model.hover ? (service.id == model.hover ? 'high' : 'fade') : '')">
					<tbody>
						<tr>
							<td class="fill" on-delay delay-class="'entry'">
								<i ng-class="'fa fa-'+service.icon"></i>
							</td>
							<td class="text">
								<h2>
									<a class="arrow" ng-href="#/Tags/Services/{{service.link}}">
										{{service.name}}
									</a>
								</h2>
								<p>
									{{service.desc}}
								</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		
		</div>
	</div>
</section>

<div services-page-entry></div>
