
<style>
	
	section.service {
		padding: 0;
	}
	
	section.service .columns {
		padding: 0;
	}
	
	section.service table tbody tr {
		background-color: transparent;
	}
	
	section.service td.summary {
		width: 33%;
		background-color: #303030;
		text-align: center;
	}
	
	section.service td.text {
		padding: 16px;
	}

	@media only screen and (max-width: 40.063em) { /* < medium */
	
		section.service {
			overflow-x: scroll;
		}
		
		section.service td.summary {
			width: 50%;
		}
		
		section.service table {
			width: 200%;
		}

	}
</style>


<section class="intro">
	<section class="content">
		<div class="row">
	
			<div class="large-8 large-push-2 columns">
				<p>
					Aesthetic Interactive brings together a <em>complete range</em> of services to 
					build <em>exceptional software</em> and <em>beautiful experiences</em>. 
					<a href="" ng-click="model.scrollToAnchor('dev')">Development</a> and 
					<a href="" ng-click="model.scrollToAnchor('des')">design</a> are <em>synchronized</em>, 
					<a href="" ng-click="model.scrollToAnchor('cre')">creativity</a> <em>flows</em>,
					<a href="" ng-click="model.scrollToAnchor('com')">communication</a> is 
					<em>constant</em>, and <a href="" ng-click="model.scrollToAnchor('mgt')">management</a> 
					keeps everything <em>on track</em>.
				</p>
			</div>

		</div>
	</section>
</section>


<section class="content service" ng-repeat="serv in model.services">
	<div class="row">
	
		<div class="medium-12 columns">
			<table>
				<tr>
					<td class="summary">
						<h2>
							{{serv.name}}
						</h2>
					</td>
					<td class="text">
						<a name="{{serv.id}}"></a>
						<div tag-markdown paragraphs="serv.desc"></div>
						<p style="margin-top: 15px;">
							<a href="#/Tags/Services/{{serv.link}}">
								Projects with the '{{serv.name}}' tag&gt;
							</a>
						</p>
					</td>
				</tr>
			</table>
		</div>

		<div class="medium-8 columns">
			
		</div>

	</div>
</section>


<div init-page-after-render page="model.page"></div>
