
<div class="intro" ng-if="!model">
	<section class="content">
		<div class="row">
	
			<div class="columns">
				<h1>
					<i class="fa fa-tasks"></i> | Tag Not Found
				</h1>
				<p>
					Please return to the <a href="#/Tags">Tags page</a>.
				</p>
			</div>

		</div>
	</section>
</div>

<div class="intro" ng-if="model">
	<section class="content">
		<div class="row">
	
			<div class="large-8 large-push-2 medium-10 medium-push-1 columns">
				<h1>
					<i class="fa fa-tasks"></i> | {{model.item.name}}
				</h1>
				<p>
					Browse the <em>projects</em> that are <em>most relevant</em> to this
					<em>{{model.section}} Tag</em>.
				</p>
			</div>

		</div>
	</section>
</div>


<section class="content tag altHold" ng-if="model">
	
	<div class="row alt" ng-repeat="use in model.tagUses">
		
		<div class="large-4 medium-5 columns thumbCol">
			<a ng-href="#/Projects/{{use.project.link}}">
				<img ng-src="img/projects/{{use.project.id}}/icon.jpg" />
			</a>
			<p>
				<a class="name arrow" ng-href="#/Projects/{{use.project.link}}">
					{{use.project.name}}
				</a>
				<span class="dateRange">
					<br/>
					{{getDateRange(use.project)}}
				</span>
			</p>
		</div>
		
		<div class="large-8 medium-7 columns barCol">
			<div class="barBg" title="{{use.serviceEntry.weight}} * {{use.project.weight}}">
				<div class="barFill" ng-style="{'width': use.weight*100+'%'}">
				</div>
			</div>
			<span ng-if="use.tag.desc">
				<a class="more" href="" ng-click="use.open = !use.open">
					{{use.open ? 'less' : 'more'}}
					<i ng-class="'fa fa-caret-'+(use.open ? 'up' : 'down')"></i>
				</a>
				<ul class="tagUseDesc" ng-show="use.open">
					<li ng-repeat="descItem in (use.tag.desc.split('|'))">
						<p>{{descItem}}</p>
					</li>
				</ul>
			</span>
		</div>

	</div>
	
	<div class="row" ng-if="model.tagUsesRemaining">
		<div class="columns showAllCol">
			<a href="" ng-click="showMore();">
				Show more projects ({{model.tagUsesRemaining}})
			</a>
		</div>
	</div>
</section>
