
<style>
	.barBg {
		background-color: #303030;
		height: 8px;
		margin-top: 6px;
		width: 100%;
	}
	
	.barBg .barFill {
		background-color: #683;
		height: 100%;
	}
	
	table {
		margin: -6px 0 0 0;
	}
	
	.imageCol {
		padding: 8px;
	}
	
	.projCol {
		padding: 8px 8px 8px 0;
	}
</style>


<div class="intro">
	<section class="content">
		<div class="row">
	
			<div class="large-8 large-push-2 columns">
				<h1>
					<i class="fa fa-tasks"></i> | {{model.item.name}} ({{model.section}})
				</h1>
				<p>
					<em>Aesthetic Interactive</em> has a tag...
				</p>
			</div>

		</div>
	</section>
</div>


<section class="content">
	<div class="row">
	
		<div class="large-12 columns">
		
			<h3>
				Description
			</h3>
			<p>
				{{model.item.desc}}
			</p>

		</div>

	</div>
</section>

<section class="content">
	<div class="row">
		<div class="large-12 columns">
			
			<h3>
				Top Projects
			</h3>

			<table>
				<thead>
					<th style="width: 86px;"></th>
					<th></th>
				</thead>
				<tbody>
					<tr ng-repeat="use in model.tagUses">
						<td class="imageCol">
							<a ng-href="#/Projects/{{use.project.link}}">
								<img ng-src="img/projects/{{use.project.id}}/icon.jpg" 
								     style="width: 70px;"/>
							</a>
						</td>
						<td class="projCol">
							<a ng-href="#/Projects/{{use.project.link}}">{{use.project.name}}</a>:
							{{use.tag.desc}}
							<br/>
							<div class="barBg" title="{{use.serviceEntry.weight}} * {{use.project.weight}}">
								<div class="barFill" ng-style="{'width': use.weight*100+'%'}">
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

		</div>

	</div>
</section>
