
<style>
	.thumbCol a, .thumbCol p {
		float: left;
	}
	
	.thumbCol a img {
		width: 50px;
		height: 50px;
		margin-right: 10px;
	}
	
	.thumbCol a.name {
		margin-top: 15px;
		color: #bbb;
	}
	
	.thumbCol a.name:hover {
		color: #ddd;
	}
	
	.thumbCol a.name i {
		color: #8fbc4c;
	}
	
	.thumbCol a.name:hover i {
		color: #bbd693;
	}
	
	.dateCol .dateRange {
		margin-top: 15px;
		color: #777;
	}
	
	.barCol {
		font-size: 0;
	}
	
	.barCol a.more {
		display: inline-block;
		width: 20%;
		font-size: 1.2rem;
		text-align: right;
		padding: 3px 16px 3px 8px;
		margin-top: 12px;
	}
	
	.desc {
		margin: 12px 0 10px 0;
	}
	
	.desc li {
		margin-left: 16px;
		padding-left: 0;
		color: #444;
		list-style-type: square;
	}
	
	.desc li + li {
		margin-top: 4px;
	}
	
	.desc li p {
		margin: 0;
		padding: 0;
	}
	
	section.content .barBg {
		display: inline-block;
		margin-top: 23px;
		width: 80%;
	}
	
	.showAllCol {
		padding-top: 0;
		border-top: 2px solid #181818;
	}
	
	.showAllCol a {
		text-align: center;
		padding: 16px 0 8px 0;
		width: 100%;
		display: block;
	}
	
	@media only screen and (max-width: 64.0em) { /* < large */
	
		.thumbCol a.name {
			margin-top: 5px;
			color: #bbb;
		}
	
		.thumbCol .dateRange {
			color: #777;
			display: block;
			font-size: 1.2rem;
		}
	
	}
	
	@media only screen and (max-width: 40.0em) { /* < medium */
		
		.thumbCol img {
			width: 100%;
			height: auto;
		}
	
		.row.alt .columns.thumbCol {
			padding-bottom: 8px;
		}
	
		.row.alt .columns.barCol {
			font-size: inherit;
			padding-top: 0;
		}
		
		.barCol a.more {
			width: 100%;
			display: block;
			text-align: left;
			padding: 4px 4px 0 0;
			margin: 0;
		}
		
		section.content .barBg {
			width: 100%;
			height: 2px;
			margin: 0;
		}
		
		.desc {
			margin: 8px 0 0 0;
		}
	
		.desc li {
			font-size: 1.2rem;
			line-height: 15px;
		}
	
		.desc li p {
			color: #888;
			font-size: 1.2rem;
			line-height: 15px;
		}
		
	}
</style>


<div class="intro">
	<section class="content">
		<div class="row">
	
			<div class="large-8 large-push-2 columns">
				<h1>
					<i class="fa fa-tasks"></i> | {{model.item.name}}
				</h1>
				<p>
					Browse the <em>projects</em> that are <em>most relevant</em> to this
					<em>{{model.section}} Tag</em>.
				</p>
			</div>

		</div>
	</section>
</div>


<section class="content altHold">
	
	<div class="row alt" ng-repeat="use in model.tagUses">
		
		<div class="large-3 medium-5 columns thumbCol">
			<a ng-href="#/Projects/{{use.project.link}}">
				<img ng-src="img/projects/{{use.project.id}}/icon.jpg" />
			</a>
			<p>
				<a class="name" ng-href="#/Projects/{{use.project.link}}">
					{{use.project.name}}
					<i class="fa fa-angle-double-right"></i>
				</a>
				<span class="show-for-medium-down dateRange">
					{{getDateRange(use.project)}}
				</span>
			</p>
		</div>
			
		<div class="large-2 medium-2 columns hide-for-medium-down dateCol">
			<p class="dateRange">
				{{getDateRange(use.project)}}
			</p>
		</div>

		<div class="large-7 medium-7 columns barCol">
			<div class="barBg" title="{{use.serviceEntry.weight}} * {{use.project.weight}}">
				<div class="barFill" ng-style="{'width': use.weight*100+'%'}">
				</div>
			</div>
			<span ng-if="use.tag.desc">
				<a class="more" href="" ng-click="use.open = !use.open">
					{{use.open ? 'less' : 'more'}}
					<i ng-class="'fa fa-caret-'+(use.open ? 'up' : 'down')"></i>
				</a>
				<ul class="desc" ng-show="use.open">
					<li ng-repeat="descItem in (use.tag.desc.split('|'))">
						<p>{{descItem}}</p>
					</li>
				</ul>
			</span>
		</div>

	</div>
	
	<div class="row" ng-if="model.tagUsesRemaining">
		<div class="columns showAllCol">
			<a href="" ng-click="showMore();">
				Show more projects ({{model.tagUsesRemaining}})
			</a>
		</div>
	</div>
</section>
