
<style>
	.row.headings .columns {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	
	.row.headings p {
		color: #777;
		font-size: 1.2rem;
	}
	
	.row.headings .trendCol span {
		position: absolute;
		left: 103px;
	}
	
	.row.headings .trendCol p {
		margin-top: 0;
	}
	
	.trendCol {
		padding-bottom: 0;
	}
	
	.trendCol .graph {
		float: left;
		margin-right: 8px;
		width: 70px;
		height: 26px;
	}
	
	.trendCol a.name {
		display: inline-block;
		margin: 2px 0 0 0;
		color: #bbb;
	}
	
	.trendCol a.name:hover {
		color: #ddd;
	}
	
	.trendCol a.name i {
		color: #8fbc4c;
	}
	
	.trendCol a.name:hover i {
		color: #bbd693;
	}
	
	.projCol {
		text-align: right;
		padding-bottom: 0;
	}
	
	.projCol .hold {
		font-size: 0;
	}
	
	section.content .barBg {
		font-size: 0;
		overflow: hidden;
		margin-top: 13px;
	}
	
	section.content .barBg .barFill {
		display: inline-block;
	}
	
	section.content .barBg .second {
		background-color: rgba(102, 136, 51, 0.25);
		border-right: 1px solid #683;
	}
	
	.line {
		fill: none;
		stroke: #8fbc4c;
		stroke-width: 1px;
	}
	
	.area {
		fill: rgba(102, 136, 51, 0.25);
		stroke: none;
	}
	
	.topProj {
		display: inline-block;
		width: 25px;
		height: 25px;
		margin: 1px;
		overflow: hidden;
	}
	
	.topProj.empty {
		border: 1px solid #404040;
		border: 1px solid rgba(255, 255, 255, 0.05);
		cursor: default;
	}
	
	.topProj img {
		width: 100%;
		height: 100%;
	}
	
	.topProj.empty img {
		visibility: hidden;
	}
	
	.tabs a {
		display: inline-block;
		width: 16.666%;
		height: 50px;
		color: #ddd;
		font-size: 1.8rem;
		text-align: center;
		padding: 14px 0 10px 0;
		border-bottom: 2px solid #404040;
		overflow: hidden;
	}
	
	.tabs a:hover {
		background-color: #303030;
		background-color: rgba(255, 255, 255, 0.02);
	}
	
	.tabs a.active {
		background-color: #404040;
		background-color: rgba(255, 255, 255, 0.04);
		border-bottom: 2px solid #888;
	}	
	
	.tabs a .count {
		color: #683;
		font-size: 1.0rem;
		font-weight: bold;
		padding-left: 1px;
	}
	
	@media only screen and (max-width: 900px) {
		
		.tabs a {
			font-size: 1.4rem;
		}
		
		.topProj {
			width: 20px;
			height: 20px;
		}
		
	}
	
	@media only screen and (max-width: 40.0em) { /* < medium */
		
		.tabs a {
			width: 33.33%;
			height: 40px;
			padding: 9px 0 5px 0;
		}
		
		.trendCol a.name {
			margin-top: 0;
		}
		
		.trendCol a.more {
			font-size: 1.2rem;
			float: right;
			padding: 3px 8px;
			margin-top: -3px;
		}
		
		.powerCol {
			display: none;
		}
		
		.projCol {
			display: none;
		}
		
		.row.alt .columns.trendCol.open {
			padding-bottom: 0;
		}
		
		.row.alt .columns.powerCol.open {
			padding-top: 8px;
			padding-bottom: 7px;
			display: inherit;
		}
	
		.row.alt .columns.projCol.open {
			text-align: left;
			padding-top: 0;
			display: inherit;
		}
		
		section.content .barBg {
			margin-top: 0;
			height: 4px;
		}
		
		.topProj {
			width: 34px;
			height: 34px;
		}
		
	}

</style>

<div class="intro">
	<section class="content">
		<div class="row">
	
			<div class="large-8 large-push-2 columns">
				<h1>
					<i class="fa fa-tasks"></i> Tags
				</h1>
				<p>
					Browse the many <em>services</em>, <em>skills</em>, and <em>capabilities</em> 
					that Aesthetic Interactive offers. The lists below show the <em>strength</em>, 
					<em>trend</em> (since 2005), and <em>top projects</em> associated with each tag.
				</p>
			</div>

		</div>
	</section>
</div>


<section class="content">
	<div class="row">
		<div class="columns tabs">
			
			<a ng-repeat="group in model.groups" ng-click="selectGroup(group)"
					ng-class="(isGroupSelected(group) ? 'active' : '')">
				{{group.name}}

				<span class="count">
					{{group.items.length}}
				</span>
			</a>

		</div>
	</div>
</section>


<section class="content">
	<div class="row headings hide-for-small">
	
		<div class="large-3 medium-4 columns trendCol">
			<p>
				Trend
				<span>{{calc.group.single}}</span>
			</p>
		</div>
		
		<div class="large-6 medium-4 columns powerCol">
			<p>Strength (Recent, Peak)</p>
		</div>
		
		<div class="large-3 medium-4 columns projCol">
			<p>Top Projects</p>
		</div>

	</div>
	
	<div class="row alt" ng-repeat="calc in model.calcs">
	
		<div class="large-3 medium-4 columns trendCol" ng-class="(use.open ? 'open' : '')">
			<div tag-trend-graph values="calc.values" class="graph">
			</div>
			<a class="show-for-small more" href="" ng-click="use.open = !use.open">
				{{use.open ? 'less' : 'more'}}
				<i ng-class="'fa fa-caret-'+(use.open ? 'up' : 'down')"></i>
			</a>
			<a class="name" ng-href="#/Tags/{{calc.group.link}}/{{calc.item.link}}">
				{{calc.item.name}}
				<i class="fa fa-angle-double-right"></i>
			</a>
		</div>
		
		<div class="large-6 medium-4 columns powerCol" ng-class="(use.open ? 'open' : '')">
			<div class="barBg">
				<div class="barFill" title="Recent Strength"
					ng-style="{'width': calc.recent*100+'%' }"></div>
				<div class="barFill second" title="Peak Strength"
					ng-style="{'width': (calc.peak-calc.recent)*100+'%'}"></div>
			</div>
		</div>

		<div class="large-3 medium-4 columns projCol" ng-class="(use.open ? 'open' : '')">
			<div class="hold">
				<a ng-repeat="use in calc.topUses" class="topProj" title="{{use.project.name}}"
						ng-href="{{use.project ? '#/Projects/'+use.project.link : ''}}" 
						ng-style="{'opacity': use.weight}" ng-class="(use.project ? '' : 'empty')">
					<img ng-src="{{use.project ? 'img/projects/'+use.project.id+'/icon.jpg' : ''}}" />
				</a>
			</div>
		</div>

	</div>
</section>
