
<style>
	table {
		margin-top: -6px;
	}
	
	.projCol {
		width: 250px;
	}
	
	section.content .barBg {
		font-size: 0;
		overflow: hidden;
		margin: 0;
		width: 95%;
	}
	
	section.content .barBg .barFill {
		display: inline-block;
	}
	
	section.content .barBg .second {
		background-color: rgba(102, 136, 51, 0.25);
		border-right: 1px solid #683;
	}
	
	.topProj {
		display: inline-block;
		width: 25px;
		height: 25px;
		margin: 2px;
		overflow: hidden;
	}
	
	.topProj.empty {
		border: 1px solid #404040;
		border: 1px solid rgba(255, 255, 255, 0.05);
	}
	
	.tabs a {
		display: inline-block;
		width: 16.666%;
		height: 50px;
		color: #fff;
		font-size: 18px;
		text-align: center;
		padding: 14px 0 10px 0;
		border-bottom: 2px solid #404040;
		overflow: hidden;
	}
	
	.tabs a:hover {
		background-color: #303030;
		background-color: rgba(255, 255, 255, 0.02);
	}
	
	.tabs a.active {
		background-color: #404040;
		background-color: rgba(255, 255, 255, 0.04);
		border-bottom: 2px solid #888;
	}	
	
	.tabs a .count {
		color: #683;
		font-size: 11px;
		font-weight: bold;
		padding-left: 3px;
	}
	
	section.group {
		display: none;
	}
	
	@media only screen and (max-width: 900px) {
		
		.projCol {
			width: 125px;
		}
		
	}	
	
</style>


<style>
	.line {
		fill: none;
		stroke: #8fbc4c;
		stroke-width: 1px;
	}
	
	.area {
		fill: rgba(102, 136, 51, 0.25);
	}

</style>

<div class="intro">
	<section class="content">
		<div class="row">
	
			<div class="large-8 large-push-2 columns">
				<h1>
					<i class="fa fa-tasks"></i> Tags
				</h1>
				<p>
					<em>Aesthetic Interactive</em> has some tags...
				</p>
			</div>

		</div>
	</section>
</div>


<section class="content">
	<div class="row">
		<div class="columns tabs">
			
			<a ng-repeat="group in model.groups" id="tab-{{group.id}}" data-group="{{group.id}}">
				{{group.name}}

				<span class="count">
					{{group.items.length}}
				</span>
			</a>

		</div>
	</div>
</section>

<section class="content group" ng-repeat="group in model.groups" id="section-{{group.id}}">
	<div class="row">
	
		<div class="columns">
			<table class="fancy">
				<thead>
					<tr>
						<th style="width: 90px;">Since 2005</th>
						<th style="width: 20%;">Tag</th>
						<th>Strength (Recent, Peak)</th>
						<th class="projCol">Top Projects</th>
					</tr>
				</thead>
				<tbody id="tbody-{{group.id}}">
					<tr ng-repeat="item in group.items" id='row-{{group.id}}-{{item.id}}'>
						<td>
							<div id='graph-{{group.id}}-{{item.id}}'>
							</div>
						</td>
						<td>
							<p ng-href="#/Tags/{{group.link}}/{{item.link}}">
								{{item.name}}
							</p>
						</td>
						<td>
							<div class="barBg">
								<div id='recent-{{group.id}}-{{item.id}}' class="barFill" 
									style="width: 0%;">
								</div>
								<div id='peak-{{group.id}}-{{item.id}}' class="barFill second" 
									style="width: 0%;">
								</div>
							</div>
						</td>
						<td>
							<div id="proj-{{group.id}}-{{item.id}}">
							</div>
						</td>
					</tr>
				</tbody>
			</table>

		</div>

	</div>
</section>
