
<style>
	.row.headings .columns {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	
	.row.headings p {
		color: #777;
		font-size: 12px;
	}
	
	.row.headings .trendCol span {
		position: absolute;
		left: 103px;
	}
	
	.row.headings .trendCol p {
		margin-top: 0;
	}
	
	.trendCol div {
		float: left;
		margin-right: 8px;
	}
	
	.trendCol p {
		margin-top: 5px;
	}
	
	.powerCol {
	}
	
	.projCol {
		text-align: right;
	}
	
	section.content .barBg {
		font-size: 0;
		overflow: hidden;
		margin-top: 13px;
	}
	
	section.content .barBg .barFill {
		display: inline-block;
	}
	
	section.content .barBg .second {
		background-color: rgba(102, 136, 51, 0.25);
		border-right: 1px solid #683;
	}
	
	.topProj {
		display: inline-block;
		width: 25px;
		height: 25px;
		margin: 1px;
		overflow: hidden;
	}
	
	.topProj.empty {
		border: 1px solid #404040;
		border: 1px solid rgba(255, 255, 255, 0.05);
	}
	
	.tabs a {
		display: inline-block;
		width: 16.666%;
		height: 50px;
		color: #ddd;
		font-size: 18px;
		text-align: center;
		padding: 14px 0 10px 0;
		border-bottom: 2px solid #404040;
		overflow: hidden;
	}
	
	.tabs a:hover {
		background-color: #303030;
		background-color: rgba(255, 255, 255, 0.02);
	}
	
	.tabs a.active {
		background-color: #404040;
		background-color: rgba(255, 255, 255, 0.04);
		border-bottom: 2px solid #888;
	}	
	
	.tabs a .count {
		color: #683;
		font-size: 11px;
		font-weight: bold;
		padding-left: 1px;
	}
	
	section.group {
		display: none;
	}
	
	@media only screen and (max-width: 64.0em) { /* < large */
		
		
	}
</style>


<style>
	.line {
		fill: none;
		stroke: #8fbc4c;
		stroke-width: 1px;
	}
	
	.area {
		fill: rgba(102, 136, 51, 0.25);
	}

</style>

<div class="intro">
	<section class="content">
		<div class="row">
	
			<div class="large-8 large-push-2 columns">
				<h1>
					<i class="fa fa-tasks"></i> Tags
				</h1>
				<p>
					Browse the many <em>services</em>, <em>skills</em>, and <em>capabilities</em> 
					that Aesthetic Interactive offers. The lists below show the <em>strength</em>, 
					<em>trend</em> (since 2005), and <em>top projects</em> associated with each tag.
				</p>
			</div>

		</div>
	</section>
</div>


<section class="content">
	<div class="row">
		<div class="columns tabs">
			
			<a ng-repeat="group in model.groups" id="tab-{{group.id}}" data-group="{{group.id}}">
				{{group.name}}

				<span class="count">
					{{group.items.length}}
				</span>
			</a>

		</div>
	</div>
</section>


<section class="content group" ng-repeat="group in model.groups" id="section-{{group.id}}">
	<div class="row headings">
	
		<div class="large-3 medium-4 columns trendCol">
			<p>
				Trend
				<span>{{group.single}}</span>
			</p>
		</div>
		
		<div class="large-6 medium-4 columns powerCol">
			<p>Strength (Recent, Peak)</p>
		</div>
		
		<div class="large-3 medium-4 columns projCol">
			<p>Top Projects</p>
		</div>

	</div>
	
	<div class="row alt" ng-repeat="item in group.items" id='row-{{group.id}}-{{item.id}}'>
	
		<div class="large-3 medium-4 columns trendCol">
			<div id='graph-{{group.id}}-{{item.id}}'>
			</div>
			<p>
				{{item.name}}
			</p>
		</div>
		
		<div class="large-6 medium-4 columns powerCol">
			<div class="barBg">
				<div id='recent-{{group.id}}-{{item.id}}' class="barFill" 
					style="width: 0%;">
				</div>
				<div id='peak-{{group.id}}-{{item.id}}' class="barFill second" 
					style="width: 0%;">
				</div>
			</div>
		</div>
		
		<div class="large-3 medium-4 columns projCol">
			<div id="proj-{{group.id}}-{{item.id}}">
			</div>
		</div>

	</div>
</section>
