
html, body {
	margin: 0;
	padding: 0;
	background-color: #2d2d2d;
	width: 100%;
	height: 100%;
	font-size: 11px;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	overflow-y: scroll;
}

p, a, ul, li, td, th {
	margin: 0;
	padding: 0;
	color: #bbb;
	font-size: 1.4rem;
	line-height: 2.0rem;
}

p, a, h1, h2, h3, h4, h5, ul, li, div, td, th {
	font-family: Lato, Tahoma, Arial, Helvetica, sans-serif;
}

p + p {
	margin-top: 15px;
}

a {
	color: #8fbc4c;
	transition: color 400ms;
	text-decoration: none;
}

a:hover {
	color: #bbd693; 
}


/*----------------------------------------------------------------------------------------------------*/


a.arrow {
	color: #ddd;
	font-size: inherit;
}

a.arrow:hover {
	color: #8fbc4c;
	font-size: inherit;
}

a.arrow:after {
	font-family: FontAwesome;
	content: "\f101"; /* fa-angle-double-right */
	color: #8fbc4c;
	transition: 
		opacity 400ms,
		margin-left 400ms;
}

a.arrow:hover:after {
	opacity: 0.333;
	margin-left: 0.2em;
}

.fadeable {
	transition: opacity 400ms;
}

.high {
	opacity: 1;
}

.fade {
	opacity: 0.25;
}

.smallCount {
	font-size: 1.0rem;
	font-weight: bold;
	color: #683;
	padding-left: 1px;
}

ul.tagUseDesc li {
	list-style-type: square;
	margin-left: 16px;
	padding-left: 0;
	color: #666;
}

ul.tagUseDesc li + li {
	margin-top: 5px;
}

ul.tagUseDesc li p {
	margin: 0;
	padding: 0;
	color: #999;
}


/*----------------------------------------------------------------------------------------------------*/

.row {
	min-width: 100%;
	padding-top: 0;
	padding-bottom: 0;
}

.columns {
	padding-top: 40px;
}

.row.alt .columns {
	padding-top: 8px;
	padding-bottom: 9px;
}

h2 + .row.alt {
	border-top: 2px solid #404040;
}

.row.alt:nth-child(even) {
	background-color: #3d3d3d;
	background-color: rgba(255, 255, 255, 0.02);
}

.row.alt:nth-child(odd) {
	background-color: #383838;
	background-color: rgba(0, 0, 0, 0.06);
}

section.altHold {
	padding-top: 32px;
}

@media only screen and (max-width: 40.0em) { /* < medium */
	
	.row.alt .columns {
		padding-top: 16px;
		padding-bottom: 16px;
	}

	section.altHold {
		padding-top: 24px;
	}
	
}

/*----------------------------------------------------------------------------------------------------*/


#background {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
}


/*----------------------------------------------------------------------------------------------------*/


header {
	width: 100%;
	padding: 32px 0;
}

header div.hold {
	margin: 0 auto;
	max-width: 1200px;
}

header .row, 
header .columns {
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
}

header .logo {
	float: left;
	margin-top: 1px;
}

header .logo img {
	width: 28px;
	margin: -5px 2px 0 1px;
}

header .logo a .text {
	color: #888;
	color: rgba(255, 255, 255, 0.666);
	font-size: 1.6rem;
	font-weight: bold;
	transition: opacity 400ms;
	opacity: 0.5;
}

header .logo a:hover .text {
	opacity: 1.0;
}

header .items {
	float: right;
}

header .items a {
	opacity: 0.333;
	transition: opacity 400ms;
	float: left;
	font-size: 1.6rem;
	color: #eee;
	margin-top: 1px;
}

header .items a:hover {
	opacity: 0.666;
}

header .items a.active {
	opacity: 1;
}

header .items a + a {
	margin-left: 32px;
}

header .items a i {
	color: #8fbc4c;
}

@media only screen and (max-width: 40.0em) { /* < medium */

	header {
		padding: 16px 0;
	}
	
	header a .text {
		display: none;
	}
	
	header .logo {
		margin-top: 0;
	}
	
	header .logo img {
		width: 32px;
		margin: -2px 0 0 2px;
	}
	
	header .items {
		margin: -8px;
	}
	
	header .items a {
		font-size: 30px;
		padding: 8px;
	}
	
	header .items a + a {
		margin-left: 0;
	}
	
}


/*----------------------------------------------------------------------------------------------------*/

section.content {
	position: relative;
	margin: 0 auto;
	max-width: 1200px;
	padding-bottom: 24px;
    z-index: 1;
}

section.content h2 {
	color: #ddd;
	font-size: 1.8rem;
	font-weight: normal;
	margin: 0 0 0.4rem 0;
}

section.content h3 {
	color: #777;
	font-size: 1.2rem;
	text-transform: uppercase;
	margin: 0;
}

section.content p + h2 {
	margin-top: 24px;
}

section.content p + h3,
section.content div + h3 {
	margin-top: 16px;
}

section.content .barBg {
	background-color: #404040;
	background-color: rgba(255, 255, 255, 0.05);
	height: 6px;
	margin-top: 8px;
	width: 100%;
}

section.content .barBg .barFill {
	background-color: #683;
	height: 100%;
}

div.intro {
	max-width: 100%;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.4);
	text-align: center;
	padding: 48px 0;
	margin-bottom: 20px;
}

div.intro section.content {
	padding-bottom: 0;
}

div.intro h1 {
	font-size: 2.8rem;
	line-height: 2.8rem;
	font-weight: normal;
	color: #aaa;
	margin: 0 0 24px 0;
}

div.intro h1 i {
	color: #444;
}

div.intro p {
	color: #aaa;
	font-size: 1.8rem;
	line-height: 3.6rem;
}
	
div.intro p em {
	color: #ddd;
	font-style: normal;
}
	
div.intro a {
	font-size: 1.8rem;
}

div.intro .columns {
	padding-top: 0;
}

@media only screen and (max-width: 40.0em) { /* < medium */
	
	section.content p + h2 {
		margin-top: 40px;
	}
	
	div.intro {
		padding: 32px 0;
		margin: 0;
		text-align: left;
	}
	
	div.intro h1 {
		font-size: 2.4rem;
		line-height: 2.4rem;
		margin: 0 0 20px 0;
	}
	
	div.intro p {
		font-size: 1.6rem;
		line-height: 2.8rem;
	}
	
	div.intro a {
		font-size: 1.6rem;
		line-height: 2.8rem;
	}

}
	

/*----------------------------------------------------------------------------------------------------*/


table.fancy {
	table-layout: fixed;
	background: transparent;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	margin-bottom: 0;
	border-spacing: 0;
	width: 100%;
	border: 0 solid #000;
}

table.fancy thead {
	font-weight: bold;
	background-color: inherit;
}

table.fancy thead tr th, table tbody tr td {
	padding: 5px 8px 5px 8px;
}

table.fancy thead tr th {
	text-align: left;
	vertical-align: middle;
	color: #777;
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: normal;
}

table.fancy tbody {
	border: 0 solid #000;
}

table.fancy tbody tr:nth-child(even) {
	background-color: #3d3d3d;
	background-color: rgba(255, 255, 255, 0.02);
}

table.fancy tbody tr:nth-child(odd) {
	background-color: #383838;
	background-color: rgba(0, 0, 0, 0.06);
}

table.fancy tbody tr td {
	vertical-align: top;
	vertical-align: middle;
	color: #bbb;
}


/*----------------------------------------------------------------------------------------------------*/


footer {
	position: relative;
	margin: 0 auto;
	max-width: 1200px;
	
	margin-top: 40px;
	padding-top: 0;
	padding-bottom: 40px;
	
	border-top: 1px solid #383838;
}

footer p {
	text-align: center;
	color: #4d4d4d;
}

footer p.links {
	font-size: 0;
}

footer a {
	color: #666;
}

footer a.bar {
	border-left: 1px solid #444;
	padding-left: 8px;
	margin-left: 5px;
}

footer a:hover {
	color: #888;
}

@media only screen and (max-width: 40.0em) { /* < medium */

	footer {
		margin-top: 16px;
	}
	
	footer p {
		font-size: 1.2rem;
		line-height: 1.8rem;
	}

	footer a {
		font-size: 1.2rem;
		line-height: 1.8rem;
	}
	
}


/*----------------------------------------------------------------------------------------------------*/
/* Home */


section.home-logo {
	text-align: center;
	padding: 80px 0 40px 0;
}

section.home-logo img {
	width: 200px;
	height: 222px;
}

div.intro.home {
	padding: 48px 0;
}

div.intro.home p {
	line-height: 0;
}

div.intro.home .side {
	width: 50%;
	color: #ddd;
	color: rgba(255, 255, 255, 0.75);
	font-size: 3.6rem;
	line-height: 3.6rem;
	padding-top: 8px;
	padding-bottom: 10px;
}

div.intro.home .left {
	text-align: right;
	border-right: 1px solid #303030;
	border-right: 1px solid rgba(255, 255, 255, 0.1);
	padding-right: 15px;
}

div.intro.home .right {
	text-align: left;
	border-left: 1px solid #303030;
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	padding-left: 15px;
}

div.intro.home .name {
	color: #683;
	font-size: 2.4rem;
	font-weight: bold;
	margin-top: 8px;
}

div.intro.home .name .nextLine {
	font-size: 0;
	line-height: 0;
}

section.content.home-menu h2 {
	z-index: 2;
	margin: 10px 0 5px 0;
}

section.content.home-menu h2 a {
	color: inherit;
	font-size: inherit;
}

section.content.home-menu h2 a i {
	color: #683;
}

section.content.home-menu h2 a:hover {
	color: #fff;
}

section.content.home-menu h2 a:hover i {
	color: #8fbc4c;
}

section.content.home-menu p {
	line-height: 2.4rem;
	z-index: 2;
}

section.content.home-menu div.iconBg {
	z-index: 0;
	height: 0;
	text-align: right;
}

section.content.home-menu div.iconBg i {
	font-size: 120px; /* for icon */
	color: #202020;
	color: rgba(0, 0, 0, 0.2);
}

section.content.home-menu div.iconBg i.fa-tasks {
	margin-top: 7px;
}

@media only screen and (max-width: 64.0em) { /* < large */
	
	section.home-logo {
		padding: 40px 0 40px 0;
	}
	
}

@media only screen and (max-width: 900px) {
	
	section.home-logo img {
		width: 150px;
		height: 167px;
	}
	
	div.intro.home .side {
		font-size: 2.8rem;
		line-height: 2.8rem;
	}
	
	div.intro.home .left {
		padding-right: 10px;
	}
	
	div.intro.home .right {
		padding-left: 10px;
	}
	
	div.intro.home .name {
		font-size: 2.0rem;
		line-height: 2.0rem;
	}
	
}

@media only screen and (max-width: 40.0em) { /* < medium */
	
	section.home-logo {
		padding: 24px 0;
	}
	
	section.home-logo img {
		width: 100px;
		height: 111px;
	}
	
	div.intro.home {
		padding: 24px 0 30px 0;
		margin-bottom: 48px;
	}
	
	div.intro.home .side {
		width: 100%;
		padding: 0;
		margin-bottom: 10px;
		font-size: 2.4rem;
		line-height: 2.4rem;
	}
	
	div.intro.home .left {
		text-align: center;
		border: 0px solid #000;
		padding: 0;
	}
	
	div.intro.home .right {
		text-align: center;
		border: 0px solid #000;
		padding: 0;
	}
	
	div.intro.home .name {
		font-size: 1.6rem;
		line-height: 1.6rem;
		margin-top: 4px;
		text-align: center;
	}
	
}

@media only screen and (max-width: 470px) {
	
	section.home-logo {
		padding: 40px 0;
	}
	
	section.home-logo img {
		width: 120px;
		height: 133px;
	}
	
	div.intro.home {
		padding: 40px 0;
	}
	
}


/*----------------------------------------------------------------------------------------------------*/
/* Services */


table.service p {
	line-height: 2.2rem;
}

table.service {
	table-layout: fixed;
	width: 100%;
}

table.service td {
	padding: 5px 0 5px 10px;
}

table.service td.fill {
	width: 50px;
	padding: 0;
	border-right: 3px solid #222;
	text-align: center;
	overflow: hidden;
}

table.service td.fill i {
	color: #666;
	font-size: 75px; /*for icon*/
	opacity: 0;
	margin-left: 100%;
	transition: 
		opacity 400ms,
		margin-left 400ms;
}

table.service td.fill.entry i {
	opacity: 0.25;
	margin-left: 25%;
}

table.service.high td.fill i {
	opacity: 1;
	margin-left: 0%;
}

table.service.fade tr td.fill i {
	margin-left: 40%;
}

@media only screen and (max-width: 40.0em) { /* < medium */

	table.service tr td.fill {
		width: 30px;
		font-size: 55px; /*for icon*/
	}
	
}


/*----------------------------------------------------------------------------------------------------*/
/* Projects */


section.projects .columns {
	text-align: center;
	margin-top: -4px;
}

section.projects .proj {
	display: inline-block; 
	padding: 4px;
	width: 158px;
	overflow: hidden;
}

section.projects .proj a {
	color: #888;
}

section.projects .proj.high a {
	color: #ddd;
}

section.projects .proj .textBox {
	display: table-cell;
	font-size: 1.2rem;
	line-height: 1.5rem;
	padding: 0 16px;
	width: 150px;
	height: 5.0rem;
	vertical-align: middle;
	background-color: rgba(0, 0, 0, 0.25);
	transition: background-color 400ms;
}

section.projects .proj.high .textBox {
	background-color: rgba(0, 0, 0, 0.333);
}

section.projects .proj img.thumb {
	width: 150px;
	height: 150px;
}

@media only screen and (max-width: 40.0em) { /* < medium */
                                             
	section.projects .proj {
		padding: 4px 1px 4px 0;
		width: 94px;
	}
	
	section.projects .proj .textBox {
		font-size: 1.0rem;
		line-height: 1.2rem;
		padding: 0 4px;
		width: 94px;
		height: 4.0rem;
	}
	
	section.projects .proj img.thumb {
		width: 94px;
		height: 94px;
	}
	
}


/*----------------------------------------------------------------------------------------------------*/
/* Project */


div.intro.project.project .badge img {
	width: 150px;
	height: 150px;
	margin-right: 16px;
	float: left;
}
	
div.intro.project .details {
	height: 150px;
	display: table-cell;
	vertical-align: middle;
}
	
div.intro.project .details h1 {
	text-align: left;
	margin: 0 0 12px 0;
	color: #ddd;
}
	
div.intro.project .details p {
	text-align: left;
	margin: 0;
	padding: 0;
	font-size: 1.4rem;
	line-height: 1.8rem;
}
	
div.intro.project .details i.fa-external-link {
	font-size: 1.0rem;
}
	
div.intro.project .details p a {
	font-size: 1.4rem;
	line-height: 2.0rem;
}
	
div.intro.project .details p.year {
	font-size: 1.8rem;
	line-height: 2.4rem;
	color: #666;
}
	
div.intro.project p.summary {
	text-align: right;
	height: 150px;
	display: table-cell;
	vertical-align: middle;
	padding-left: 16px;
	border-left: 2px solid #303030;
	border-left: 2px solid rgba(255, 255, 255, 0.1);
}
	
section.project.galleryHold {
	padding-bottom: 0;
	transition: opacity 1000ms;
}
	
section.project.galleryHold .columns {
	padding-top: 24px;
}
	
#projectGallery a {
	font-size: 0;
}
	
#projectGallery img {
	padding: 0 1px 1px 0;
	opacity: 0;
	transition: opacity 1000ms;
}
	
section.project .tagRow {
	padding-top: 8px;
	padding-bottom: 8px;
}

section.project .relRow img {
	width: 80px;
	height: 80px;
	margin-right: 8px;
}
	
section.project .relRow p {
	height: 80px;
	color: #999;
	display: table-cell;
	vertical-align: middle;
}
	
section.content.project .tagRow .barBg {
	float: right;
}
	
@media only screen and (max-width: 64.0em) { /* < large */
		
	div.intro.project p.summary {
		font-size: 1.6rem;
		line-height: 2.8rem;
	}
		
}
	
@media only screen and (max-width: 40.0em) { /* < medium */
	
	div.intro.project {
		padding-top: 24px;
	}
		
	div.intro.project .badge img {
		margin-bottom: 12px;
	}
	
	div.intro.project p.summary {
		text-align: left;
		height: auto;
		padding: 0;
		border-left: none;
	}
	
	section.project .tagRow {
		padding-top: 0;
		padding-bottom: 0;
	}
	
	section.content.project .row.alt.tagRow .columns.nameCol {
		padding-bottom: 10px;
	}
	
	section.content.project .row.alt.tagRow .columns.barCol {
		padding-top: 0;
		padding-bottom: 0;
	}
	
	section.content.project .row.alt.tagRow .columns.descCol {
		padding-top: 10px;
	}
		
	section.project .relRow img {
		width: 50px;
		height: 50px;
		margin-right: 4px;
	}
	
	section.project .relRow p {
		height: auto;
		display: inherit;
	}
	
	section.project .row.alt.relRow .columns.projCol {
		padding-bottom: 8px;
	}
		
	section.project .row.alt.relRow .columns.descCol {
		padding-top: 0;
	}
	
	section.content.project .tagRow .barBg {
		height: 2px;
		margin: 0;
		float: left;
	}
		
}
	
@media only screen and (max-width: 479px) {
	
	div.intro.project {
		padding-top: 20px;
	}
		
	div.intro.project .badge img {
		float: none;
	}
	
	div.intro.project .details {
		height: auto;
		display: inherit;
		margin-bottom: 16px;
	}
	
	div.intro.project p.summary {
		padding-top: 12px;
		border-top: 0 solid #000;
		border-top: 2px solid rgba(255, 255, 255, 0.1);
	}
		
}


/*----------------------------------------------------------------------------------------------------*/
/* Tags */


section.tags .tabs a {
	display: inline-block;
	width: 16.666%;
	height: 50px;
	color: #ddd;
	font-size: 1.8rem;
	text-align: center;
	padding: 14px 0 10px 0;
	border-bottom: 2px solid #555;
	overflow: hidden;
	opacity: 0.333;
	transition:
		opacity 400ms,
		background-color 400ms,
		border-bottom-color 400ms;
}

section.tags .tabs a:hover {
	background-color: rgba(255, 255, 255, 0.02);
	opacity: 0.666;
}

section.tags .tabs a.active {
	background-color: rgba(255, 255, 255, 0.04);
	border-bottom: 2px solid #888;
	opacity: 1;
}

section.tags .row.headings .columns {
	padding-top: 5px;
	padding-bottom: 5px;
}

section.tags .row.headings p {
	color: #777;
	font-size: 1.2rem;
}

section.tags .row.headings .trendCol span {
	position: absolute;
	left: 103px;
}

section.tags .row.headings .trendCol p {
	margin-top: 0;
}

section.tags .trendCol {
	padding-bottom: 0;
}

section.tags .trendCol .graph {
	float: left;
	margin-right: 8px;
	width: 70px;
	height: 26px;
}

section.tags .trendCol a.arrow {
	display: inline-block;
	margin: 2px 0 0 0;
	position: absolute; /* prevents wrapping */
}

section.tags .projCol {
	text-align: right;
	padding-bottom: 0;
}

section.tags .projCol .hold {
	font-size: 0;
}

section.content.tags .barBg {
	font-size: 0;
	overflow: hidden;
	margin-top: 11px;
}

section.content.tags .barBg .barFill {
	display: inline-block;
}

section.content.tags .barBg .second {
	background-color: rgba(102, 136, 51, 0.25);
	border-right: 1px solid #683;
}

section.tags .line {
	fill: none;
	stroke: #8fbc4c;
	stroke-width: 1px;
}

section.tags .area {
	fill: rgba(102, 136, 51, 0.25);
	stroke: none;
}

section.tags .topProj {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: 1px;
	overflow: hidden;
}

section.tags .topProj.empty {
	border: 1px solid #404040;
	border: 1px solid rgba(255, 255, 255, 0.05);
	cursor: default;
}

section.tags .topProj img {
	width: 100%;
	height: 100%;
}

section.tags .topProj.empty img {
	visibility: hidden;
}

@media only screen and (max-width: 900px) {
	
	section.tags .tabs a {
		font-size: 1.4rem;
	}
	
	section.tags .trendCol a.arrow {
		margin-top: 6px;
		font-size: 1.2rem;
		line-height: 1.2rem;
	}

	section.tags .topProj {
		width: 20px;
		height: 20px;
		margin-top: 3px;
	}
	
}

@media only screen and (max-width: 40.0em) { /* < medium */
	
	section.tags .tabs a {
		width: 33.33%;
		height: 40px;
		padding: 9px 0 5px 0;
	}
	
	section.tags .trendCol a.arrow {
		margin-top: 0;
		font-size: inherit;
		line-height: inherit;
	}
	
	section.tags .trendCol a.more {
		font-size: 1.2rem;
		float: right;
		padding: 3px 8px;
		margin-top: -3px;
	}
	
	section.tags .powerCol {
		display: none;
	}
	
	section.tags .projCol {
		display: none;
	}
	
	section.tags .row.alt .columns.trendCol.open {
		padding-bottom: 0;
	}
	
	section.tags .row.alt .columns.powerCol.open {
		padding-top: 8px;
		padding-bottom: 7px;
		display: inherit;
	}

	section.tags .row.alt .columns.projCol.open {
		text-align: left;
		padding-top: 0;
		display: inherit;
	}
	
	section.content.tags .barBg {
		margin-top: 0;
		height: 4px;
	}
	
	section.tags .topProj {
		width: 34px;
		height: 34px;
		margin: 1px;
	}
	
}


/*----------------------------------------------------------------------------------------------------*/
/* Tag */


section.tag .thumbCol a, .thumbCol p {
	float: left;
}

section.tag .thumbCol a img {
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

section.tag .thumbCol a.name {
	margin-top: 15px;
}

section.tag .dateCol .dateRange {
	margin-top: 15px;
	color: #777;
}

section.tag .barCol {
	font-size: 0;
}

section.tag .barCol a.more {
	display: inline-block;
	width: 20%;
	font-size: 1.2rem;
	text-align: right;
	padding: 3px 16px 3px 8px;
	margin-top: 12px;
}

section.content.tag .barBg {
	display: inline-block;
	margin-top: 23px;
	width: 80%;
}

section.tag .tagUseDesc {
	margin: 6px 0 8px 0;
}

section.tag .showAllCol {
	padding-top: 0;
	border-top: 2px solid #181818;
}

section.tag .showAllCol a {
	text-align: center;
	padding: 16px 0 8px 0;
	width: 100%;
	display: block;
}

@media only screen and (max-width: 64.0em) { /* < large */

	section.tag .thumbCol a.name {
		margin-top: 5px;
	}

	section.tag .thumbCol .dateRange {
		color: #777;
		display: block;
		font-size: 1.2rem;
	}

}

@media only screen and (max-width: 40.0em) { /* < medium */
	
	section.tag .thumbCol img {
		width: 100%;
		height: auto;
	}

	section.tag .row.alt .columns.thumbCol {
		padding-bottom: 8px;
	}

	section.tag .row.alt .columns.barCol {
		font-size: inherit;
		padding-top: 0;
	}
	
	section.tag .barCol a.more {
		width: 100%;
		display: block;
		text-align: left;
		padding: 4px 4px 0 0;
		margin: 0;
	}
	
	section.content.tag .barBg {
		width: 100%;
		height: 2px;
		margin: 0;
	}

	section.tag .tagUseDesc {
		margin: 5px 0;
	}
	
}


/*----------------------------------------------------------------------------------------------------*/
/* Contact */


section.contact .box {
	margin-top: 16px;
	padding: 16px 16px;
}

section.contact .box.details {
	background-color: #333;
	background-color: rgba(255, 255, 255, 0.05);
}

section.contact .box.details strong {
	color: #ddd;
}

@media only screen and (max-width: 40.0em) { /* < medium */
                                             
	section.contact .box {
		margin: 16px -16px 0 -16px;
	}
	
}	
