
html, body {
	margin: 0;
	padding: 0;
	background-color: #333;
	width: 100%;
	height: 100%;
	font-size: 11px;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	overflow-y: scroll;
}

p, a, ul, li, td, th {
	margin: 0;
	padding: 0;
	color: #bbb;
	font-size: 1.4rem;
	line-height: 2.0rem;
}

p, a, h1, h2, h3, h4, h5, ul, li, div, td, th {
	font-family: Lato, Tahoma, Arial, Helvetica, sans-serif;
}

p + p {
	margin-top: 15px;
}

a {
	color: #8fbc4c;
	transition: color 400ms;
	text-decoration: none;
}

a:hover {
	color: #bbd693; 
}

.tag {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	padding: 2px 3px;
	font-size: 1.2rem;
	line-height: 1.2rem;
	margin: 0 2px 2px 0;
	text-transform: uppercase;
}


/*----------------------------------------------------------------------------------------------------*/

.row {
	min-width: 100%;
	padding-top: 0;
	padding-bottom: 0;
}

.columns {
	padding-top: 40px;
}

.row.alt .columns {
	padding-top: 8px;
	padding-bottom: 9px;
}

h2 + .row.alt {
	border-top: 2px solid #404040;
}

.row.alt:nth-child(even) {
	background-color: #3d3d3d;
	background-color: rgba(255, 255, 255, 0.02);
}

.row.alt:nth-child(odd) {
	background-color: #383838;
	background-color: rgba(0, 0, 0, 0.06);
}

section.altHold {
	padding-top: 32px;
}

@media only screen and (max-width: 40.0em) { /* < medium */
	
	.row.alt .columns {
		padding-top: 16px;
		padding-bottom: 16px;
	}

	section.altHold {
		padding-top: 24px;
	}
	
}

/*----------------------------------------------------------------------------------------------------*/


#background {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
}


/*----------------------------------------------------------------------------------------------------*/


header {
	width: 100%;
	padding: 32px 0;
}

header div.hold {
	margin: 0 auto;
	max-width: 1200px;
}

header .row, 
header .columns {
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
}

header .logo {
	float: left;
	margin-top: 1px;
}

header .logo img {
	width: 28px;
	margin: -5px 2px 0 1px;
}

header .logo a .text {
	color: #888;
	color: rgba(255, 255, 255, 0.666);
	font-size: 1.6rem;
	font-weight: bold;
	transition: opacity 400ms;
	opacity: 0.5;
}

header .logo a:hover .text {
	opacity: 1.0;
}

header .items {
	float: right;
}

header .items a {
	opacity: 0.333;
	transition: opacity 400ms;
	float: left;
	font-size: 1.6rem;
	color: #eee;
	margin-top: 1px;
}

header .items a:hover {
	opacity: 0.666;
}

header .items a.active {
	opacity: 1;
}

header .items a + a {
	margin-left: 32px;
}

header .items a i {
	color: #8fbc4c;
}

@media only screen and (max-width: 40.0em) { /* < medium */

	header {
		padding: 16px 0;
	}
	
	header a .text {
		display: none;
	}
	
	header .logo {
		margin-top: 0;
	}
	
	header .logo img {
		width: 32px;
		margin: -2px 0 0 2px;
	}
	
	header .items {
		margin: -8px;
	}
	
	header .items a {
		font-size: 30px;
		padding: 8px;
	}
	
	header .items a + a {
		margin-left: 0;
	}
	
}


/*----------------------------------------------------------------------------------------------------*/

section.content {
	position: relative;
	margin: 0 auto;
	max-width: 1200px;
	padding-bottom: 24px;
    z-index: 1;
}

section.content h2 {
	color: #ddd;
	font-size: 1.8rem;
	font-weight: normal;
	margin: 0 0 5px 0;
}

section.content h3 {
	color: #777;
	font-size: 1.2rem;
	text-transform: uppercase;
	margin: 0;
}

section.content p + h2 {
	margin-top: 24px;
}

section.content p + h3 {
	margin-top: 16px;
}
	
section.content div + h3 {
	margin-top: 16px;
}

section.content .barBg {
	background-color: #404040;
	background-color: rgba(255, 255, 255, 0.05);
	height: 6px;
	margin-top: 8px;
	width: 100%;
}

section.content .barBg .barFill {
	background-color: #683;
	height: 100%;
}

div.intro {
	max-width: 100%;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.333);
	text-align: center;
	padding: 48px 0;
	margin-bottom: 20px;
}

div.intro section.content {
	padding-bottom: 0;
}

div.intro h1 {
	font-size: 2.8rem;
	line-height: 2.8rem;
	font-weight: normal;
	color: #aaa;
	margin: 0 0 24px 0;
}

div.intro h1 i {
	color: #333;
}

div.intro p {
	color: #aaa;
	font-size: 1.8rem;
	line-height: 3.6rem;
}
	
div.intro p em {
	color: #ddd;
	font-style: normal;
}
	
div.intro a {
	font-size: 1.8rem;
}

div.intro .columns {
	padding-top: 0;
}

@media only screen and (max-width: 40.0em) { /* < medium */
	
	section.content p + h2 {
		margin-top: 40px;
	}
	
	div.intro {
		padding: 32px 0;
		margin: 0;
		text-align: left;
	}
	
	div.intro h1 {
		font-size: 2.4rem;
		line-height: 2.4rem;
		margin: 0 0 20px 0;
	}
	
	div.intro p {
		font-size: 1.6rem;
		line-height: 2.8rem;
	}
	
	div.intro a {
		font-size: 1.6rem;
		line-height: 2.8rem;
	}

}
	

/*----------------------------------------------------------------------------------------------------*/


table.fancy {
	table-layout: fixed;
	background: transparent;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	margin-bottom: 0;
	border-spacing: 0;
	width: 100%;
	border: 0 solid #000;
}

table.fancy thead {
	font-weight: bold;
	background-color: inherit;
}

table.fancy thead tr th, table tbody tr td {
	padding: 5px 8px 5px 8px;
}

table.fancy thead tr th {
	text-align: left;
	vertical-align: middle;
	color: #777;
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: normal;
}

table.fancy tbody {
	border: 0 solid #000;
}

table.fancy tbody tr:nth-child(even) {
	background-color: #3d3d3d;
	background-color: rgba(255, 255, 255, 0.02);
}

table.fancy tbody tr:nth-child(odd) {
	background-color: #383838;
	background-color: rgba(0, 0, 0, 0.06);
}

table.fancy tbody tr td {
	vertical-align: top;
	vertical-align: middle;
	color: #bbb;
}


/*----------------------------------------------------------------------------------------------------*/


footer {
	position: relative;
	margin: 0 auto;
	max-width: 1200px;
	
	margin-top: 40px;
	padding-top: 0;
	padding-bottom: 40px;
	
	border-top: 1px solid #383838;
}

footer p {
	text-align: center;
	color: #4d4d4d;
}

footer p.links {
	font-size: 0;
}

footer a {
	color: #666;
}

footer a.bar {
	border-left: 1px solid #444;
	padding-left: 8px;
	margin-left: 5px;
}

footer a:hover {
	color: #888;
}

@media only screen and (max-width: 40.0em) { /* < medium */

	footer {
		margin-top: 16px;
	}
	
	footer p {
		font-size: 1.2rem;
		line-height: 1.8rem;
	}

	footer a {
		font-size: 1.2rem;
		line-height: 1.8rem;
	}
	
}


/*----------------------------------------------------------------------------------------------------*/
/* Services */


table.service p, table.service a {
	line-height: 2.4rem;
}

table.service {
	table-layout: fixed;
	width: 100%;
	transition: opacity 400ms;
}

table.service.faded {
	opacity: 0.333;
}

table.service td {
	padding: 5px 0 5px 10px;
}

table.service tr td.fill {
	width: 50px;
	padding: 0;
	border-right: 3px solid #1c1c1c;
		
	color: #666;
	text-align: center;
	font-size: 75px; /*for icon*/
	overflow: hidden;
}

table.service tr td.fill i {
	opacity: 0;
	margin-left: 100%;
	transition: 
		opacity 400ms,
		margin-left 400ms;
}

table.service tr td.fill.entry i {
	opacity: 0.25;
	margin-left: 25%;
}

table.service tr:hover td.fill i {
	opacity: 1;
	margin-left: 0%;
}

table.service.faded tr td.fill i {
	margin-left: 40%;
}

@media only screen and (max-width: 40.0em) { /* < medium */

	table.service tr td.fill {
		width: 30px;
		font-size: 55px; /*for icon*/
	}
	
}
