
header {
	display: none;
}

section.logo {
	text-align: center;
	padding: 80px 0 40px 0;
}
	
div.intro {
	padding: 48px 0;
}

div.intro p {
	line-height: 0px;
}
	
div.intro .side {
	width: 50%;
	color: #ddd;
	color: rgba(255, 255, 255, 0.75);
	font-size: 36px;
	line-height: 36px;
	padding-top: 8px;
	padding-bottom: 10px;
}
	
div.intro .left {
	text-align: right;
	border-right: 1px solid #303030;
	border-right: 1px solid rgba(255, 255, 255, 0.1);
	padding-right: 15px;
}
	
div.intro .right {
	text-align: left;
	border-left: 1px solid #303030;
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	padding-left: 15px;
}
	
div.intro .name {
	color: #683;
	font-size: 24px;
	font-weight: bold;
	margin-top: 8px;
}
	
div.intro .name .nextLine {
	font-size: 0;
	line-height: 0;
}
	
section.content h2 {
	z-index: 2;
	margin: 10px 0 5px 0;
}
	
section.content h2 a {
	color: inherit;
	font-size: inherit;
}
	
section.content h2 a i {
	color: #683;
}
	
section.content h2 a:hover {
	color: #fff;
}
	
section.content h2 a:hover i {
	color: #8fbc4c;
}
	
section.content p {
	line-height: 24px;
	z-index: 2;
}
	
section.content div.iconBg {
	z-index: 0;
	height: 0;
	text-align: right;
}
	
section.content div.iconBg i {
	font-size: 120px;
	color: #202020;
	color: rgba(0, 0, 0, 0.2);
}
	
section.content div.iconBg i.fa-tasks {
	margin-top: 7px;
}
	
footer {
	margin-top: 80px;
}
	
@media only screen and (max-width: 64.0em) { /* < large */
	section.logo {
		padding: 40px 0 40px 0;
	}
}
	
@media only screen and (max-width: 900px) {
	section.logo img {
		width: 150px;
	}
		
	div.intro .side {
		font-size: 28px;
		line-height: 28px;
	}
		
	div.intro .left {
		padding-right: 10px;
	}
		
	div.intro .right {
		padding-left: 10px;
	}
		
	div.intro .name {
		font-size: 20px;
		line-height: 20px;
	}
}
	
@media only screen and (max-width: 40.0em) { /* < medium */
	section.logo {
		padding: 30px 0;
	}
		
	section.logo img {
		width: 100px;
	}
		
	div.intro {
		padding: 32px 0 36px 0;
	}
		
	div.intro .side {
		width: 100%;
		padding: 0;
		margin-bottom: 10px;
		font-size: 24px;
		line-height: 24px;
	}
		
	div.intro .left {
		text-align: center;
		border: 0px solid #000;
		padding: 0;
	}
		
	div.intro .right {
		text-align: center;
		border: 0px solid #000;
		padding: 0;
	}
		
	div.intro .name {
		font-size: 16px;
		line-height: 16px;
		margin-top: 12px;
		text-align: center;
	}
	
	footer {
		margin-top: 40px;
	}
}
	
@media only screen and (max-width: 470px) {
	section.logo {
		padding: 60px 0 40px 0;
	}
		
	section.logo img {
		width: 140px;
	}
		
	div.intro {
		padding: 48px 0;
	}
}
